openapi: 3.2.0
info:
  title: Moodys Corporation Health API
  version: 1.0.0
  license:
    name: Moody's Analytics Terms of Use
    url: https://www.moodys.com/web/en/us/about/legal/terms-of-use.html
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: moodys-analytics-developer-openapi.yml, moodys-data-buffet-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.economy.com
  description: Moody's Analytics economy.com API gateway
- url: https://api.moodys.com
  description: Moody's Analytics moodys.com API gateway
- url: https://api.economy.com/data/v1
  description: Moody's Analytics Data Buffet production server
security:
- oauth2: []
tags:
- name: Health
  description: Platform availability and version metadata
paths:
  /health:
    get:
      operationId: getHealth
      summary: Moody's Get Platform Health
      description: Returns the health status of the developer platform gateway.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
    servers:
    - url: https://api.economy.com
      description: Moody's Analytics economy.com API gateway
    - url: https://api.moodys.com
      description: Moody's Analytics moodys.com API gateway
components:
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - down
        version:
          type: string
        timestamp:
          type: string
          format: date-time
    HealthStatus:
      type: object
      description: Service health status information.
      required:
      - status
      properties:
        status:
          type: string
          description: Overall service health status.
          enum:
          - Healthy
          - Degraded
          - Unavailable
          example: Healthy
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check.
          example: '2026-01-15T10:30:00Z'
        version:
          type: string
          description: Current API version.
          example: example_value
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.economy.com/oauth2/token
          scopes:
            read: Read access to entitled Moody's Analytics products
            write: Write access for job submission and basket / order management
    hmac:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 request signing scheme used as an alternative to OAuth2 on legacy Moody's Analytics product APIs (Data Buffet, Scenario Studio).
x-refined-from:
- moodys-analytics-developer-openapi.yml
- moodys-data-buffet-api-openapi.yml
